<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title id="title">{{ title }}</title>
  <script src="https://topan-dev.github.io/TopanUI/src/jquery.js"></script>
  <link rel="stylesheet" href="https://topan-dev.github.io/TopanUI/topan.css">
  <script src="https://topan-dev.github.io/TopanUI/topan.js"></script>
  <script src="/main.js"></script>
  <link rel="stylesheet" href="/main.css">
  <script src="https://kit.fontawesome.com/0d8081718e.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="topan-outer">
    <div class="topan-page">
      {% block main %}
      <div class="topan-mainpage-auto">
        <br>
      </div>
      {% endblock %}
      <footer class="topan-footer">
        <p></p>
        <p style="text-align: center; color: #555; font-size: 12px;">
          © 2023 <a href="https://github.com/Molmin/">Milmon</a>
        </p>
      </footer>
    </div>
  </div>
</body>

</html>